<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="bootstrap.min.css" integrity="" crossorigin=""> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped table-bordered">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">action</th>
        </tr>

        <tr th:each="message : ${alluser}">
            <td th:text="${message.id}">1</td>
            <td><a href="" th:text="${message.name}"></a></td>
            <td th:text="${message.email}"></td>
            <td>
                <a href=""> delete</a>
                <a href=""> edit</a>
            </td>
        </tr>

    </table>

<h2>version:tabel show all users style;</h2>
</body>
</html>